# General Files
HELP.md
target/

# Maven Wrapper (don't ignore the Maven wrapper jar)
!.mvn/wrapper/maven-wrapper.jar

# Ignore target directories except for specific ones in main and test source folders
!**/src/main/**/target/
!**/src/test/**/target/

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Don't ignore build directories in src/main and src/test
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
