.overview-page {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 0;
  margin: 0;
}

.hero-section {
  position: relative;
  background-color: #1d3557;
  /* background-image: url('/images/hero-background.jpg'); */
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  animation: fadeIn 1s ease-out;
}

.hero-content h1 {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.hero-content p {
  font-size: 1.3em;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-buttons .overview-button {
  padding: 16px 40px;
  font-size: 1.1em;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: white;
  color: #ff758c;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.hero-buttons .overview-button.primary {
  background-color: #ff758c;
  color: white;
}

.hero-buttons .overview-button.primary:hover {
  background-color: #d62e3d;
  transform: translateY(-5px);
}

.hero-buttons .overview-button.secondary {
  background-color: transparent;
  border: 2px solid #fff;
  color: white;
}

.hero-buttons .overview-button.secondary:hover {
  background-color: white;
  border: 2px solid #d62e3d;
  color: #ff758c;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5em;
  }

  .hero-content p {
    font-size: 1.1em;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 15px;
  }

  .hero-buttons .overview-button {
    width: 100%;
    padding: 14px 30px;
    font-size: 1em;
  }

  .hero-buttons .overview-button.primary {
    font-size: 1em;
    padding: 14px 30px;
  }

  .hero-buttons .overview-button.secondary {
    font-size: 1em;
    padding: 14px 30px;
  }
}
