.register-section {
  padding: 0 20px;
}

.register-section-light {
  background: #fff;
}

.register-section-dark {
  background: #171717;
}

.register-parent {
  display: flex;
  padding: 30px 0;
}

/* Error message styles */
.validation {
  color: #ff2929;
  margin-top: -1%;
  margin-bottom: 13px;
}

.card-heading {
  padding-top: 12px;
  margin-bottom: 8px;
  text-align: center;
  color: var(--secondary-color);
  text-transform: capitalize;
}

.inside-card {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.register-image {
  max-width: 100%;
}

.register-child {
  flex: 1;
}

.child1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
}

.child2 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.register-card {
  width: 75%;
  height: auto;
  margin: 0% auto;
  padding-bottom: 20px;
  border-radius: 10px;
}

.goodbye-card {
  width: 60%;
  height: auto;
  background-color: #e7e7e7;
  margin: 20% auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #888888, -5px -5px 15px #ffffff;
}

.register-card-light {
  background-color: #e7e7e7;
  box-shadow: 5px 5px 15px #888888, -5px -5px 15px #ffffff;
}

/* For Dark Theme */
.register-card-dark {
  color: whitesmoke;
  background-color: #282c35;
  box-shadow: 0px 8px 16px 0px rgba(72, 127, 255, 0.1),
    0px -8px 16px 0px rgba(72, 127, 255, 0.1);
}

.register-header-text {
  padding: 15px 0;
  margin-bottom: 0px;
  text-transform: capitalize;
  text-align: center !important;
  font-size: 1.5rem;
}

.register-header-text-light {
  color: var(--secondary-color);
}

/* For Dark Theme */
.register-header-text-dark {
  color: #69a9dd;
}

.inside-register {
  width: 85%;
  margin: 0 auto;
}

.inside-card p {
  padding: 10px 5px;
  font-size: 1.5rem;
  font-weight: 580;
}

.register-input {
  position: relative;
  margin-bottom: 8px;
}

.register-input input,
.register-input select,
.register-input textarea {
  width: 100%;
  height: 50px;
  border: 1px solid #bbbaba;
  border-radius: 10px;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  color: #777777;
  margin-bottom: 7px;
  background-color: #f1f1f1;
  box-shadow: inset 2px 2px 5px #888888, inset -2px -2px 5px #ffffff;
}

.register-input-light input,
.register-input-light select,
.register-input-light textarea {
  border: 1px solid #bbbaba;
  color: #777777;
  background-color: #f1f1f1;
  box-shadow: inset 2px 2px 5px #888888, inset -2px -2px 5px #ffffff;
}

/* For Dark Theme */
.register-input-dark input,
.register-input-dark select,
.register-input-dark textarea {
  border: 1px solid #414a4c;
  color: whitesmoke;
  background-color: #333333;
  box-shadow: inset 2px 2px 5px rgba(72, 127, 255, 0.1),
    inset -2px -2px 5px rgba(72, 127, 255, 0.4);
}

.register-input input::placeholder,
.register-input select::placeholder,
.register-input textarea::placeholder {
  opacity: 1;
  color: #777777;
}

.register-input input::-moz-placeholder,
.register-input select::-moz-placeholder,
.register-input textarea::-moz-placeholder {
  opacity: 1;
  color: #777777;
}

.register-input input::-webkit-input-placeholder,
.register-input select::-webkit-input-placeholder,
.register-input textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #777777;
}

/* For Dark Theme */
.register-input-dark input::placeholder,
.register-input-dark select::placeholder,
.register-input-dark textarea::placeholder {
  opacity: 1;
  color: whitesmoke;
}

/* For Dark Theme */
.register-input-dark input::-moz-placeholder,
.register-input-dark select::-moz-placeholder
.register-input-dark textarea::-moz-placeholder {
  opacity: 1;
  color: whitesmoke;
}

/* For Dark Theme */
.register-input-dark input::-webkit-input-placeholder,
.register-input-dark select::-webkit-input-placeholder,
.register-input-dark textarea::-webkit-input-placeholder {
  opacity: 1;
  color: whitesmoke;
}

.register-input-light input:focus,
.register-input-light select:focus,
.register-input-light textarea:focus {
  border-color: #1863ff;
  outline: none;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, rgb(45, 70, 232), rgb(51, 57, 242));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-color: #ffffff;
}

/* For Dark Theme */
.register-input-dark input:focus,
.register-input-dark select:focus,
.register-input-dark textarea:focus {
  outline: none;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(to right, #2b5876, #4e4376);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-color: black;
}

.register-input-light select option {
  background-color: #f1f1f1;
  color: #333;
}

.register-input-dark select option {
  background-color: #333;
  color: whitesmoke;
}

.register-input-light select option:hover {
  background-color: #e7e7e7;
}

.register-input-dark select option:hover {
  background-color: #444;
}


.register-input textarea {
  padding-top: 15px;
  height: 180px;
  resize: none;
}

.register-input i {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 16px;
}

.register-input-light i {
  color: #777777;
}

/* For Dark Theme */
.register-input-dark i {
  color: whitesmoke;
}

.submit-btns {
  display: flex;
  gap: 20px;
  margin: 20px;
  justify-content: center;
}

.submit-button {
  padding: 15px 60px;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: white;
  color: #d62e3d;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
  transform: translateY(-5px);
  background-color: #ff7eb3;
  color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.submit-button.primary {
  background-color: #2132f0;
  color: white;
  border: none;
  box-shadow: 0 12px 14px rgba(0, 0, 0, 0.292);
}

.submit-button.primary:hover {
  background-color: #0819d1;
  transform: translateY(-2px);
}

@media screen and (max-width: 750px) {
  .register-parent {
    display: block;
    width: 100%;
  }

  .child1 {
    padding: 0 0 10px;
  }

  .register-card {
    width: 95%;
    margin: 10% auto;
  }

  .register-input input,
  .register-btn {
    height: 40px;
  }

  .goodbye-card {
    width: 85%;
    padding-top: 5px;
  }

  .card-heading {
    font-size: 1.6rem;
    margin-bottom: 3px;
    padding: 9px 0;
  }

  .inside-card p {
    padding: 0px;
    font-size: 1.3rem;
  }

  .register-btn {
    font-size: 20px;
  }

  .submit-btn {
    width: 60% !important;
    margin: 0 auto;
  }
}

.text-xs-center {
  text-align: center;
}

.g-recaptcha {
  display: inline-block;
}

