.impact-stats {
  padding: 80px 20px;
  text-align: center;
  background-color: #c8c4c4;
}

.impact-stats h2 {
  font-size: 2.8em;
  color: #1d3557;
  /* margin-bottom: 40px; */
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.impact-stats p {
  color: #070724;
  margin-bottom: 40px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.stat {
  background: #1d3557;
  border-radius: 16px;
  width: 250px;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #1d3557;
}

.stat:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.stat h3 {
  font-size: 2.5em;
  font-weight: 800;
  color: #ff758c;
  margin-bottom: 10px;
}

.stat p {
  font-size: 1em;
  color: #848383;
  margin-top: 10px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .stats {
    flex-direction: column;
    align-items: center;
  }

  .stat {
    width: 90%;
    margin-bottom: 30px;
  }
}
